<div class="container">
  <div class="character">
    <div class='hero-card'>
      <div class="hero-name-life">
        <p>{{ battle._heroUn.name }}</p>
        <p>{{ battle._heroUn.lifepoints[0] }} / {{ battle._heroUn.lifepoints[1] }} Pv</p>
      </div>
      <img src="{{ battle._heroUn.image }}" [class.reverse]="battle._heroUn.guild ==='Mage'" alt="heroUn image">
      <p>{{ battle._heroUn.guild }}</p>
    </div>
    <button>Attaquer</button>
  </div>

  <div class="character">
    <div class='hero-card'>
      <div class="hero-name-life">
        <p>{{ battle._heroDeux.name }}</p>
        <p>{{ battle._heroDeux.lifepoints[0] }} / {{ battle._heroDeux.lifepoints[1] }} Pv</p>
      </div>
      <img src="{{ battle._heroDeux.image }}" [class.reverse]="battle._heroDeux.guild !=='Mage'" alt="heroDeux image">
      <p>{{ battle._heroDeux.guild }}</p>
    </div>
  </div>

</div>

