.container{
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url('../../assets/background.png');
  background-size: cover;
  margin: auto;
}

.app-heroes{
  height: 98%;
  width: 40%;
}
