.container{
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url('../../assets/background.png');
  background-size: cover;
  margin: auto;
}

.reverse{
  transform: scaleX(-1);
}

.character{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .hero-lifepoints{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 3px;
    background-color: rgb(58, 238, 58);
  }

  .hero-title{
    height: 30px;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba($color: #bbbbbb, $alpha: 0.5);

    .hero-name{
      font-style: italic;
    }
  }

  img{
    width: 70%;
  }
}

